.fullwidth {
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -25px;
    height: 100vh;
    width: 100vw;
}

@media (prefers-color-scheme: dark) {
    .fullwidth {
        background-image: url('assets/Night-Time.jpg');
    }
    .fullwidth.theme-light {
        background-image: url('assets/Day-Time.jpg');
    }
}

@media (prefers-color-scheme: light) {
    .fullwidth {
        background-image: url('assets/Day-Time.jpg');
    }
    .fullwidth.theme-dark {
        background-image: url('assets/Night-Time.jpg');
    }
}

