@tailwind base;
@tailwind components;
@tailwind utilities;

.fullwidth {
    background-image: url('assets/rot-vinbar-watercolor.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    height: calc(100vh - 5rem);
    width: 100vw;
}

